/*------ LOGIN ------*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html, body {

    margin: 0;
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;

}

#logback {

    width: 100%;
    height: 100vh;

}

#titulo {

    position: absolute;
    top: 45vh;
    left: 33vw;

    font-family: Raleway;
    font-weight: thin;
    font-size: 60px;

    color: white;

}

#igcont {

    position: absolute;
    top: 73vh;
    left: 33.3vw;

    display: flex;
    gap: 3px;

}

#igcon {
    
    width: 15px;

}

p2 {

    font-size: small;
    margin: 0;
    color: white;
    font-family: Raleway;
    font-weight: thin;

}

.mainFrame {

    width: 35vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

}

#icohub {

    background: rgba(255, 255, 255, 0.004);
    
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    border: 1px solid rgb(255, 255, 255);

    padding: 0.5vw;
    border-radius: 50px;

    transform: rotate(0deg);

    width: 50px;
    margin-top: 15%;
    margin-bottom: 15%;

}

#loginForm {

    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3vw;
    height: 70vh;
    border-radius: 15px;

    background: rgba(255, 255, 255, 0.214);
    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    border: 1px solid rgb(255, 255, 255);

}

#loginForm h1 {

    color: white;
    margin: 0px;
    margin-bottom: 30px;

    font-family: Arial, Helvetica, sans-serif;

}

#loginForm input {

    padding: 13px;
    border: solid white 0.1px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0);
    width: 15vw;
    color: white;

}

#loginForm input::placeholder {

    color: white;
    opacity: 0.7;

}

#loginForm input:focus {

    outline: none;
    
}

#loginForm button {

    border: none;
    padding: 13px;
    border-radius: 20px;
    background-color: white;
    width: 16.5vw;
    margin-top: 20px;
    transition: 0.3s ease;

}

#loginForm button:hover {

    border: solid 1px white;
    padding: 13px;
    border-radius: 20px;
    background-color: transparent;
    width: 16.5vw;
    margin-top: 20px;
    color: white;
    transition: 0.3s ease;

}

#loginForm p {

    color: white;
    margin: 0px;
    font-family: Raleway;
    font-weight: thin;
    font-size: small;
    opacity: 0.5;

}

/*------ Mobile ------*/

@media (orientation: portrait) {

    html, body {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    #logback {

        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;

    }

    #titulo {

        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: fit-content;

        display: flex;
        align-items: center;
        justify-content: center;

        text-align: center;

        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;

        color: white;

    }

    #titulo p {

        margin-top: 4vh !important;
        margin: 0;

    }

    .mainFrame {

        position: absolute;
        top: 20%;

        width: 100vw;
        height: 50vh;

        display: flex;
        align-items: center;
        justify-content: center;

    }

    #icohub {

        background: rgba(255, 255, 255, 0.004);
        
        box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);

        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);

        border: 1px solid rgb(255, 255, 255);

        padding: 0.5vw;
        border-radius: 50px;

        transform: rotate(0deg);

        width: 50px;
        margin-top: 5%;
        margin-bottom: 10%;

    }

    #loginForm {

        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 3vw;
        height: 95%;
        width: 70%;
        border-radius: 15px;

        background: rgba(255, 255, 255, 0.214);
        
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);

        border: 1px solid rgb(255, 255, 255);

    }

    #loginForm h1 {

        color: white;
        margin: 0px;
        margin-bottom: 30px;

        font-family: Arial, Helvetica, sans-serif;

    }

    #loginForm input {

        padding: 13px;
        border: solid white 0.1px;
        margin-bottom: 10px;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0);
        width: 60%;
        color: white;

    }

    #loginForm input::placeholder {

        color: white;
        opacity: 0.7;

    }

    #loginForm input:focus {

        outline: none;
        
    }

    #loginForm button {

        border: none;
        padding: 13px;
        border-radius: 20px;
        background-color: white;
        color: black;
        width: 60%;
        margin-top: 20px;
        transition: 0.3s ease;

    }

    #loginForm button:hover {

        border: solid 1px white;
        padding: 13px;
        border-radius: 20px;
        background-color: transparent;
        width: 61%;
        margin-top: 20px;
        color: white;
        transition: 0.3s ease;

    }

    #loginForm p {

        color: white;
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: small;
        opacity: 0.6;

    }

    #igcont {
        
        width: 100%;
        height: fit-content;

        position: absolute;
        left: 0;
        bottom: 0;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;

    }

    #igcon {
        
        width: 15px;

    }

    p2 {

        font-size: small;
        margin: 0;
        color: white;
        font-family: Arial, Helvetica, sans-serif;

    }

}