<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="user-scalable=no, initial-scale=1.0">
        <title>DOV HUB - LOGIN</title>
        
        <link rel="stylesheet" href="entry_style.css">
        <link rel="icon" href="DOV Icon.ico">

    </head>

    <body>

        <img id="logback" src="logbg.png">

        <div id="titulo">

            <p>Welcome to <br> DOV</p>

        </div>

        <div class="mainFrame">

            <form id="loginForm" method="POST" action="/log">

                <img id="icohub" src="logico.png">

                <h1>Identify</h1>
                
                <input type="text" placeholder="Username" name="username" required>
                <input type="password" placeholder="Password" name="password" required>

                <p>Forgot password? Contact the IT.</p>

                <button type="submit">Login</button>

            </form>

        </div>

        <div id="igcont">

            <img id="igcon" src="igico.png">
            <p2>dovmarketing.us</p2>

        </div>
        
    </body>

</html>